
<div class="container">
    <div class="card bg-dark text-light  text-center my-5">
        <div class="card-header">
          ID: {{userData.id}}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{userData.name}}</h5>
          <div>
            <p class="card-text">Email: {{userData.email}}</p>
            <p class="card-text">Phone: {{userData.phone}}</p>
            <p class="card-text">Website: {{userData.website}}</p>
            <p class="card-text">City: {{userData['address'].city}}</p>
            <p class="card-text">Company Name: {{userData['company'].name}}</p>
            <p class="card-text">Website: {{userData.website}}</p>
          </div>
          <a  class="btn btn-primary my-3 mx-2" routerLink="/update-user/{{userData.id}}">Update</a>
        </div>
        <div class="card-footer text-muted">
          {{userData.username}}
        </div>
      </div>
</div>

<div class="container">
    <h1 class="text-center">{{userData.name}}'s TODOs</h1>
    <div class="text-center">
      <button class="btn btn-dark m-auto my-4" routerLink="/user/{{userData.id}}/add-todo">Add New Todo</button>
    </div>
    <div *ngIf="userTodos.length == 0">
        <h3 class="text-center text-danger my-5">No TODOs to show</h3>
    </div>
</div>

<div class="container" >
    <div class="row">
        <div class="col-md-4 col-sm-12 my-5" *ngFor = "let userTodo of userTodos">
            <div class="card text-white bg-dark  py-3" style="max-width: 18rem;" >
                <div class="card-header">{{userTodo.title}}</div>
                <div class="card-body">
                  <h5 class="card-title">TODO ID: {{userTodo.id}}</h5>
                  <div *ngIf="userTodo.completed; else notCompletedTodo">
                    <p class="card-text text-primary">Completed</p>
                  </div>
                  <ng-template #notCompletedTodo>
                    <p class="card-text text-warning">Not Completed</p>
                  </ng-template>
                  <p class="card-text">User ID: {{userTodo.userId}}</p>
                </div>
                <div class="row d-flex justify-content-center">
                  <button class="btn btn-primary col-4 mx-1 btn-sm" routerLink="/user/{{userData.id}}/update-todo/{{userTodo.id}}">Update</button>
                  <button class="btn btn-danger col-4 mx-1 btn-sm" (click) = "deleteTodo(userTodo.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>